---
import ExperienceItem from "./ExperienceItem.astro"
const EDUCATION = [
  {
    date: "September 2020 - June 2022",
    title: "Higher Technical Expert in Application Development Degree − I.E.S. Poeta Paco Mollà",
    description:
      "An in-depth higher degree of official professional education in backend development",
    //link: "https://www.linkedin.com/in/emilio-senabre-l%C3%B3pez/",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EDUCATION.map((educación) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...educación} />
      </li>
    ))
  }
</ol>
