---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "December 2023 - Present",
    title: "Software Engineer(Banking Domain) - NTT Data Europe & Latam",
    description: `Project for Maintenance and New Development of a Banking Application.

    Developed backend services using Spring Boot 3.0.
    Built the frontend interface with Angular 15.
    Created a REST API with Spring Web.
    Designed an administration panel in Angular.
    Administered PostgreSQL and MongoDB databases.
    Participated in CI/CD pipeline design with Jenkins:
      - Ran JUnit tests with Maven.
      - Performed code quality assessments with SonarQube.
      - Managed automated deployments on WebLogic Server.`,
  },
  {
    date: "November 2022 - November 2023",
    title: "Software Engineer(Educational Domain) - NTT Data Europe & Latam",
    description: `Web Project for the Educational Sector for a Regional Government.

    Developed a microservices-based backend server using Spring Boot 2.7.
    Built the frontend with JSF templates.
    Created a REST API with Spring Web.
    Designed an administration panel using Angular 14.
    Conducted unit testing with JUnit for Spring Boot and Jasmine for Angular.
    Managed Oracle databases and developed PL/SQL scripts.
    Worked in an Agile environment (Scrum), maintaining strong communication with the Product Owner to identify and address product requirements effectively.`,
  },
  {
    date: "March 2022 - May 2022",
    title: "Software Engineer − Verne Technology Group",
    description:
      "Develop solutions in Sage X3",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
