---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "December 2023 - Present",
    title: "Software Engineer(Banking Domain) - NTT Data Europe & Latam",
    description: "<p>Orchestrating the critical migration of a major Banking Application from a legacy Java 8 monolith to a modern, decoupled microservices architecture.</p><ul><li><p>Driving the modernization of core legacy services by migrating to <strong>Java 21</strong> and <strong>Spring Boot 3</strong>, resulting in improved performance and faster development cycles.</p></li><li><p>Decomposing monolithic codebases into modular microservices based on domain-driven design principles.</p></li><li><p>Modernizing mission-critical batch processes using <strong>Spring Batch</strong> to handle high-volume data processing with increased reliability.</p></li><li><p>Designing high-performance <strong>REST APIs</strong> and optimizing data persistence layers using <strong>Spring Data JPA</strong> and <strong>Oracle Database</strong>.</p></li><li><p>Automating <strong>CI/CD pipelines</strong> with <strong>Jenkins</strong> and <strong>SonarQube</strong>, maintaining a rigorous standard for code quality and test coverage.</p></li></ul><p></p>",
  },
  {
    date: "November 2022 - November 2023",
    title: "Junior Software Engineer(Educational Domain) - NTT Data Europe & Latam",
    description: "<p>Contributed to the development and maintenance of a large-scale web platform for a Regional Government's Educational Sector.</p><ul><li><p>Developed backend logic using <strong>Java 8</strong> and managed <strong>JSP</strong> frontends, ensuring reliability through comprehensive <strong>JUnit</strong> testing.</p></li><li><p>Designed and optimized <strong>Oracle </strong>database structures, including the creation of complex <strong>PL/SQL </strong>stored procedures and scripts.</p></li><li><p>Collaborated effectively within an <strong>Agile (Scrum) </strong>team to deliver high-priority features on schedule.</p></li></ul>",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
