---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "December 2023 - Present",
    title: "Software Engineer(Banking Domain) - NTT Data Europe & Latam",
    description: `Project for Maintenance and New Development of a Banking Application.
    Developed backend services using Spring Boot 3.0.
    Built the frontend interface with Angular 15.
    Created a REST API with Spring Web.
    Designed an administration panel in Angular.
    Administered PostgreSQL and MongoDB databases.
    Participated in CI/CD pipeline design with Jenkins:
      - Ran JUnit tests with Maven.
      - Performed code quality assessments with SonarQube.
      - Managed automated deployments on WebLogic Server.`,
  },
  {
    date: "November 2022 - November 2023",
    title: "Software Engineer(Educational Domain) - NTT Data Europe & Latam",
    description:
      "Desarrollo en una plataforma de Educación trabajando con Java Spring Boot, JSP, javascript y PL/SQL. Uso de Jira y Git",
  },
  {
    date: "Marzo 2022 - Mayo 2022",
    title: "Sage X3 Solutions Developer(Prácticas)  − Verne Technology Group",
    description:
      "Desarrollos con Sage X3",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
